<div class="d-flex">
  <div class="card half-width">

    <div class="card-header">
      Menu
    </div>

    <div class="card-body">
      <div class="list-group">
        <span class="list-group-item list-group-item-action rounded-0 d-flex justify-content-between">
          <label>Tea</label> <span>Rs. 60</span> <span>60</span>
        </span>
        <span class="list-group-item list-group-item-action rounded-0 d-flex justify-content-between">
          <label>Tea</label> <span>Rs. 60</span> <span>60</span>
        </span>
        <span class="list-group-item list-group-item-action rounded-0 d-flex justify-content-between">
          <label>Tea</label> <span>Rs. 60</span> <span>60</span>
        </span>
      </div>
    </div>
  </div>

  <div>
    <app-add-menu></app-add-menu>
  </div>
</div>
