<div class="card add-menuItem-block" *ngIf="selectedItem">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveItem()" [formGroup]="menuItemForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="productNameId">Item Name</label>

          <div class="col-md-9">
            <input class="form-control" type="text" placeholder="Name (required)"
              formControlName="name"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="type">Item Type</label>

          <div class="col-md-9">
            <select formControlName="type">
              <option value="0">Beverages</option>
              <option value="1">Snacks</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="cost">Price</label>

          <div class="col-md-9">
            <input class="form-control" type="number" placeholder="Price Rs." formControlName="price" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="cost">Quantity</label>

          <div class="col-md-9">
            <input class="form-control" type="number" placeholder="Ex. 10" formControlName="stock" />
          </div>
        </div>

        <div class="form-group mt-4">
          <div class="col-md-10 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px"
                [disabled]="!menuItemForm.valid || !menuItemForm.dirty">
                Save
              </button>
            </span>
            <span>
              <button class="btn btn-light" type="button" style="width:80px;margin-right:10px" (click)="cancelEdit()">
                Cancel
              </button>
            </span>
            <span>
              <button class="btn btn-light" type="button" style="width:80px" (click)="deleteItem()">
                Delete
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
