/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.main-block{
  padding: 10px 20px;
  margin: 0 auto;
}

.half-width{
  width: 50%;
  margin: 0 auto;
}
