<div class="main-block">
  <h3 class="text-center">Welcome back!</h3>
  <div class="half-width">
    <p class="h5">This is an angular NGRX example. Enjoy going through this sample project and suggest changes if any.</p>
    <br>
    <p>I've followed this <a target="_blank" href="https://app.pluralsight.com/course-player?clipId=ca5174cd-6d35-4a69-82a3-13275523254a">pluralsight course</a> and along with that have built this example which includes below mentioned thigns with commit.</p>
    <ul>
      <li>Set-up raw componnets and HTML</li>
      <li>Basic ngrx code, install & verify ngrx-devtools</li>
    </ul>
    <hr>
    <h5 class="text-center">Developed By: <b class="text-success">K.R.R</b></h5>
  </div>
</div>
